<div class="weather-widget">
  <div class="weather-header">OBECNA POGODA</div>
  <div class="temperature">
    <div class="temperature-icon">
    </div>
    1° C
  </div>
  <div class="real-feel">RealFeel® -5°</div>
  <div class="details">
    <div class="detail-item">
      <div class="detail-label"></div>
      <div></div>
    </div>
    <div class="detail-item">
      <div class="detail-label">Jakość powietrza</div>
      <div>Niedobre</div>
    </div>
  </div>
  <a href="#" class="more-info">WIĘCEJ SZCZEGÓŁÓW</a>
</div>

