.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #28a745;
  color: #fff;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-icon img {
  height: 50px;
}

.navbar-button button {
  padding: 10px 20px;
  cursor: pointer;
}

.navbar-spacer {
  flex-grow: 1;
}
