<!--<app-nav-bar></app-nav-bar>-->
<div class="form-container">
  <form (ngSubmit)="onSubmit()" class="input-form">
<!--      <input type="text" id="temp-opady" placeholder="Temp/Opady" class="form-control">-->
      <div class="input-group">
        <label >Region</label>
        <select id="id_oddzialu" [(ngModel)]="region" name="id_oddzialu">
          <option *ngFor="let unit of regions" [value]="unit.regionId">
            {{ unit.name }}
          </option>
        </select>
<!--        <input type="text" id="region" [(ngModel)]="region" placeholder="region" class="form-control" name="region">-->

        <label for="od">Od</label>
        <input type="datetime-local" id="od" [(ngModel)]="startDate" placeholder="Od" class="form-control" name="startDate">

        <label for="do">Do</label>
        <input type="datetime-local" id="do" [(ngModel)]="endDate" placeholder="Do" class="form-control" name="endDate">

        <label for="parametr">Parametr</label>
        <select id="parametr" [(ngModel)]="parameter" class="form-control" name="parameter">
          <option value="">Parameter</option>
          <option value="wind">Wind</option>
          <option value="humidity">Humidity</option>
          <option value="fall">Fall</option>
          <option value="fall">Temperature</option>
          <option value="uv">UV</option>
        </select>

        <label for="sort">Sort</label>
        <select id="sort" [(ngModel)]="sort" class="form-control" name="sort">
          <option value="">Please select</option>
          <option value="inc">increasing</option>
          <option value="dec">decreasing</option>
          <option value="option3">Option 3</option>
        </select>
<!--        <input type="text" id="sortowanie" placeholder="Sortowanie" class="form-control">-->
        <button type="submit" class="submit-btn">Load</button>
    </div>
  </form>
  <table class="data-table">
    <thead>
    <tr>
      <th>City</th>
      <th>Measurement station id</th>
      <th>Date</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of measurementsTable">
      <td>{{item.city}}</td>
      <td>{{ item.measurementStationId }}</td>
      <td>{{ item.date }}</td>
      <td>{{ item.value }}</td>

    </tr>
    </tbody>
  </table>
</div>
