<app-nav-bar></app-nav-bar>
<div class="form-container">
  <form (ngSubmit)="onSubmit()" class="input-form">
    <div class="input-group">
      <input type="text" id="od" placeholder="Od" class="form-control">
      <input type="text" id="do" placeholder="Do" class="form-control">
      <input type="text" id="temp-opady" placeholder="Temp/Opady" class="form-control">
      <input type="text" id="sortowanie" placeholder="Sortowanie" class="form-control">
      <button type="submit" class="submit-btn">Submit</button>
    </div>
  </form>
  <table class="data-table">
    <thead>
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
      <th>Header 4</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Data 1</td>
      <td>Data 2</td>
      <td>Data 3</td>
      <td>Data 4</td>
    </tr>
    </tbody>
  </table>
</div>
