html, body {
  height: 100%;
  margin: 0;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
input[type="text"] {
  width: 80%;
  margin: 10px 0;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.input-container input[type="text"] {
  width: 50%;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.suggestions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 500px;
  width: 100%;
  margin-top: 10px;
}


.details {
  width: 100%
}

.suggestion-item {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 1.2em;
  color: white;
  border-radius: 4px;
}

.suggestion-item:hover {
  background-color: #e9e9e9;
}

.center{
  text-align: center;
  justify-content: center;
  width: 100%;
}
