<app-nav-bar></app-nav-bar>
<div>
  <ng-template dynamic-component-anchor-employee></ng-template>

</div>


<!--<div class="input-container">-->
<!--  <input type="text" [(ngModel)]="searchTerm" (input)="searchCities()" placeholder="Enter city name...">-->
<!--  <div class="suggestions" *ngIf="suggestions.length > 0">-->
<!--    <button class="suggestion-item" *ngFor="let city of suggestions" [ngStyle]="{'background-color': getRandomColor()}" (click)="showCityInfo(city.cityId)">-->
<!--      {{ city.cityName }}-->
<!--    </button>-->

<!--  </div>-->

<!--</div>-->
<!--<ng-template class="details" #container ></ng-template>-->
<router-outlet></router-outlet>
<app-footer></app-footer>
