<h1 mat-dialog-title id="exampleModalLabel">Add new city</h1>
<div class="login-container">
  <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="cityName">City Name:</label>
      <input type="text" id="cityName" formControlName="cityName" name="cityName">
    </div>
    <div class="form-group">
      <label for="regionId">Region:</label>
      <select id="regionId" formControlName="regionId" name="regionId">
        <option *ngFor="let region of regions" [value]="region.regionId">
          {{ region.name }}
        </option>
      </select>
    </div>
    <button type="submit" [mat-dialog-close]="true">Submit</button>
  </form>
</div>
