<div class="con">
  <div class="component-container">
    <div class="header-section">
      <button class="header-button" (click)="openAddCityModal()">Add City</button>

    </div>
    <table class="data-table">
      <tr>
        <th>City Id</th>
        <th>Name</th>
        <th>Region</th>
        <th  class="buttons"></th>
      </tr>
      <tr *ngFor="let city of cities">
        <td>{{city.cityId}}</td>
        <td>{{city.cityName}}</td>
        <td>{{city.region.name}}</td>
        <td>
          <button class="header-button" (click)="openModifyCityModal(city)">Modify</button>
          <button class="header-button" (click)="openDeleteModal(city)">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
