.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; /* Adjust the padding to leave some space on the sides */
  background-color: black;
  color: #fff;
}

/* Container to hold the icon and button */
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the icon */
.navbar-icon img {
  height: 50px; /* Adjust the size of your icon */
}

/* Style for the button */
.navbar-button button {
  padding: 10px 20px;
  cursor: pointer;
}

/* Spacer to push the button to the right */
.navbar-spacer {
  flex-grow: 1;
}
