<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-icon">
      <img src="favicon.ico" alt="Icon" (click)="goToMain()">
    </div>
    <div class="navbar-spacer"></div>

    <div *ngIf="!isAuthenticated()">
      <button class="navbar-button" (click)="goToLogin()">Login</button>
    </div>

    <div *ngIf="isAuthenticated()">
      <button class="navbar-button" (click)="goToEmployee()">Analyse Data</button>
      <button class="navbar-button" (click)="toggleOffcanvas()">User data</button>
      <button class="navbar-button" *ngIf="isEmployee()" (click)="goToAlerts()">Alerts</button>
      <button class="navbar-button" *ngIf="isClient()">Add Measurements</button>
    </div>

    <div class="navbar-spacer"></div>
    <button class="navbar-button" (click)="logout()">Logout</button>
  </div>
</nav>
