.welcome-message {
  font-size: 20px;
  text-align: center;
}
.cdk-overlay-pane {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cdk-global-overlay-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
