<div class="registration-container">
  <form class="registration-form" #regForm="ngForm" (ngSubmit)="register()">

    <h2>Register </h2>

    <div class="form-group">
      <label>City:</label>
      <select id="id_oddzialu" [(ngModel)]="formData.cityId" name="id_oddzialu">
        <option *ngFor="let unit of cities" [value]="unit.cityId">
          {{ unit.cityName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="formData.name" name="name" required>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" [(ngModel)]="formData.lastName" name="lastName" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="formData.emailAddress" name="email" required email #email="ngModel">
      <div *ngIf="email.touched && email.invalid" class="error-message">
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Email is not valid</div>
        <div *ngIf="email.errors?.['emailExists']">Email already in use</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="formData.password" name="password" required #password="ngModel" pattern="YourPasswordRegex">
      <div *ngIf="password.touched && password.invalid" class="error-message">
        <div *ngIf="password.errors?.['required']">Password is required</div>
        <div *ngIf="password.errors?.['pattern']">Password does not meet the standards</div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="formData.confirmPassword" name="confirmPassword" required #confirmPassword="ngModel">
      <div *ngIf="confirmPassword.touched && confirmPassword.value !== password.value" class="error-message">
        Passwords do not match
      </div>
    </div>

    <button type="submit" class="register-button" [disabled]="!regForm.valid">Register</button>

    <p class="login-link">Already have an account? <a href="/login">Login here</a>.</p>
  </form>
</div>
