<app-nav-bar></app-nav-bar>

<div class="buttons-div">
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" >Enable body scrolling</button>
</div>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form class="login-form" [formGroup]="userForm" (ngSubmit)="updateData()">
      <h2>Login</h2>

      <div class="form-group" >
        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="userId">
<!--        <input type="email" id="email" [value]="user.emailAddress" [formControlName]="user.emailAddress" name="email" required>-->
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">
<!--        <input type="text" id="name" [value]="user.name" [formControlName]="user.name" name="name" required>-->
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName">
<!--        <input type="text" id="lastName" [value]="user.lastName" [formControlName]="user.name" name="name" required>-->
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phhone Number</label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber">
<!--        <input type="text" id="phoneNumber" [value]="user.phoneNumber" [formControlName]="user.name" name="name" required>-->
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" formControlName="address">

<!--        <input type="text" id="address" [value]="user.address" [formControlName]="user.name" name="name" required>-->
      </div>

      <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="text" id="emailAddress" formControlName="emailAddress">
<!--        <input type="text" id="emailAddress" [value]="user.emailAddress" [formControlName]="user.name" name="name" required>-->
      </div>
      <button type="submit" class="login-button">Updade data</button>
    </form>
  </div>
</div>
