<div class="con">
  <div class="component-container">
    <div class="header-section">
      <p>Some introductory text or message here.</p>
    </div>
    <table class="data-table">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Station id</th>
        <th>Employee id</th>
        <th>Phone number</th>
      </tr>
      <tr *ngFor="let employee of employees">
        <td>{{employee.name}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.measurementStation.stationId}}</td>
        <td>{{employee.employeeId}}</td>
        <td>{{employee.phoneNumber}}</td>
      </tr>
    </table>
  </div>
</div>

